<footer class="bg-gray page-footer text-center font-small mt-4 wow fadeIn black-text">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://m.facebook.com/TechLoveV/" target="_blank">
        <i class="fab fa-facebook-f mr-3 black-text"></i>
      </a>

      <a href="https://mobile.twitter.com/eshaanmanchanda" target="_blank">
        <i class="fab fa-twitter mr-3 black-text"></i>
      </a>

      <a href="https://www.youtube.com/c/TechLovev_212subs" target="_blank">
        <i class="fab fa-youtube mr-3 black-text"></i>
      </a>

      {% comment %} <a href="#" target="_blank">
        <i class="fab fa-google-plus-g mr-3 black-text"></i>
      </a> {% endcomment %}

      {% comment %} <a href="#" target="_blank">
        <i class="fab fa-dribbble mr-3 black-text"></i>
      </a> {% endcomment %}

      {% comment %} <a href="#" target="_blank">
        <i class="fab fa-pinterest mr-3 black-text"></i>
      </a> {% endcomment %}

      <a href="https://github.com/EshaanManchanda" target="_blank">
        <i class="fab fa-github mr-3 black-text"></i>
      </a>

      {% comment %} <a href="#" target="_blank">
        <i class="fab fa-codepen mr-3 black-text"></i>
      </a> {% endcomment %}
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3 black-text">
      © 2023 Copyright:
      <a href="https://www.youtube.com/c/TechLovev_212subs"  target="_blank"> TechLoveV.com </a>
    </div>
    <!--/.Copyright-->

  </footer>